{{!-- navigation bar/header --}}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Scraped Articles</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/scraped">Scraped Articles</a></li>
      <ul>
  </div>
</nav>


{{!-- jumbotron --}}
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Scraped Articles</h1>
    <p>Your Scraped Articles</p>
  </div>
</div>
<div class="container article-container">
</div>


{{!-- footer --}}
<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
</footer>


{{!-- CDNs --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../public/assets/javascript/index.js"></script>